#### Use the given file named cricket.csv and perform the following operations:
### 1. Read the file in DataFrame

In [7]:
import os
os.getcwd()

'C:\\Users\\Dipali Shinde\\Desktop\\Data_science_course'

In [4]:
import pandas as pd

In [8]:

df = pd.read_csv("datasets/cricket.csv")

In [9]:
df

   sr.no           name  matches  runs  catches  wickets  stumpings
0      1    Anil Dalpat      122  6755       56       12          0
1      2   Rohan Kanhay      144  1256       76      178          0
2      3  Avdhoot Dighe      265  8954      120        0          0
3      4       Bahubali       10   756        6       11          3
4      5      Leeladhar      234  2866      105      376          0
5      6      Pradyumna      177  5877       47      122          0
6      7     Dinesh Roy      211  8537      112       16          0
7      8     Parmeshwar      245  9466       53        0          0
8      9    Ali Durrani       55  2756       12       26          0
9     10   Litesh Singh       89  1099       46       49          0

### 2. List the name of cricketer and their respective runs

In [12]:
df.loc[:,['name','runs']]

            name  runs
0    Anil Dalpat  6755
1   Rohan Kanhay  1256
2  Avdhoot Dighe  8954
3       Bahubali   756
4      Leeladhar  2866
5      Pradyumna  5877
6     Dinesh Roy  8537
7     Parmeshwar  9466
8    Ali Durrani  2756
9   Litesh Singh  1099

### 3. Find total wickets taken by them

In [13]:
df.loc[:,['name','wickets']]

            name  wickets
0    Anil Dalpat       12
1   Rohan Kanhay      178
2  Avdhoot Dighe        0
3       Bahubali       11
4      Leeladhar      376
5      Pradyumna      122
6     Dinesh Roy       16
7     Parmeshwar        0
8    Ali Durrani       26
9   Litesh Singh       49

In [21]:
df['wickets'].sum()

790

### 4. Find average of catches taken

In [22]:
df['catches'].mean()

63.3

### 5. Find the name of wicketkeeper

In [27]:
df[df['stumpings']>0]['name']

3    Bahubali
Name: name, dtype: object

### 6. print the name of bowler who played highest number of matches

In [33]:
df[(df['wickets']== df['wickets'].max())]['name']

4    Leeladhar
Name: name, dtype: object

### 7. Find average of all the bowlers

In [34]:
df['wickets'].mean()

79.0

### 8. Find name of the bowler with least bowling average (wickets per match).

In [35]:
df['avg'] =df['wickets']/df['matches']
df

   sr.no           name  matches  runs  catches  wickets  stumpings       avg
0      1    Anil Dalpat      122  6755       56       12          0  0.098361
1      2   Rohan Kanhay      144  1256       76      178          0  1.236111
2      3  Avdhoot Dighe      265  8954      120        0          0  0.000000
3      4       Bahubali       10   756        6       11          3  1.100000
4      5      Leeladhar      234  2866      105      376          0  1.606838
5      6      Pradyumna      177  5877       47      122          0  0.689266
6      7     Dinesh Roy      211  8537      112       16          0  0.075829
7      8     Parmeshwar      245  9466       53        0          0  0.000000
8      9    Ali Durrani       55  2756       12       26          0  0.472727
9     10   Litesh Singh       89  1099       46       49          0  0.550562

### 9. Print information about all players whose catches per match ratio is greater than 0.5 store it in a csv file

In [39]:
x =df[df['avg']>0.5]
x

   sr.no          name  matches  runs  catches  wickets  stumpings       avg
1      2  Rohan Kanhay      144  1256       76      178          0  1.236111
3      4      Bahubali       10   756        6       11          3  1.100000
4      5     Leeladhar      234  2866      105      376          0  1.606838
5      6     Pradyumna      177  5877       47      122          0  0.689266
9     10  Litesh Singh       89  1099       46       49          0  0.550562

In [40]:
x.to_csv("outputcricket.csv", index=False)

### 10. Draw the bar chart of playr name against their runs.

### 11. Sort and print information about players by ascending order of runs

In [43]:
df.sort_values(by=['runs'])

   sr.no           name  matches  runs  catches  wickets  stumpings       avg
3      4       Bahubali       10   756        6       11          3  1.100000
9     10   Litesh Singh       89  1099       46       49          0  0.550562
1      2   Rohan Kanhay      144  1256       76      178          0  1.236111
8      9    Ali Durrani       55  2756       12       26          0  0.472727
4      5      Leeladhar      234  2866      105      376          0  1.606838
5      6      Pradyumna      177  5877       47      122          0  0.689266
0      1    Anil Dalpat      122  6755       56       12          0  0.098361
6      7     Dinesh Roy      211  8537      112       16          0  0.075829
2      3  Avdhoot Dighe      265  8954      120        0          0  0.000000
7      8     Parmeshwar      245  9466       53        0          0  0.000000

### 12. print the names of players whose wickets are greater than matches

In [47]:
df[df['wickets']>df['matches']]['name']

1    Rohan Kanhay
3        Bahubali
4       Leeladhar
Name: name, dtype: object

#### Download the file of fb.csv which contains the information about different posts’ information posted on Facebook page.

### 1. Count how many number of posts are paid and unpaid?

In [5]:
f = pd.read_csv("datasets/fb.csv")
f

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [6]:
mask = f[f['Paid']>0].count()
print('paid posts are:',mask['Paid'])

paid posts are: 139

In [7]:
mask = f[f['Paid']==0].count()
print('unpaid posts are:',mask['Paid'])

unpaid posts are: 360

### 2. Display only Page type, Month, likes, comments and shares

In [9]:
f.loc[:,['Type','Post Month','comment','like','share']]

       Type  Post Month  comment    like  share
0     Photo          12        4    79.0   17.0
1    Status          12        5   130.0   29.0
2     Photo          12        0    66.0   14.0
3     Photo          12       58  1572.0  147.0
4     Photo          12       19   325.0   49.0
..      ...         ...      ...     ...    ...
495   Photo           1        5    53.0   26.0
496   Photo           1        0    53.0   22.0
497   Photo           1        4    93.0   18.0
498   Photo           1        7    91.0   38.0
499   Photo           1        0    91.0   28.0

[500 rows x 5 columns]

#### 3. Find average number of likes to the post in September month.

In [10]:
f['like'].mean()

177.94589178356713

In [38]:
gr =f.groupby('Post Month')
gr.groups

{1: [475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499], 2: [449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474], 3: [413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448], 4: [363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412], 5: [326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362], 6: [277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325], 7: [225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276], 8: [191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224], 9: [155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190], 10: [95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154], 11: [50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94], 12: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]}

In [28]:
gr['like'].mean()

Post Month
1     122.880000
2     192.961538
3      83.111111
4     182.740000
5     216.162162
6     133.612245
7     272.519231
8     198.441176
9     230.944444
10    156.593220
11    154.488889
12    172.180000
Name: like, dtype: float64

In [46]:
average_likes_usinggroup = gr.get_group(9)['like'].mean() #using grouping

print("The average number of likes for posts in September is:",average_likes_usinggroup)

The average number of likes for posts in September is: 230.94444444444446

In [33]:
september_data = f[f['Post Month']== 9]

In [34]:
september_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
155,135700,Photo,2,9,3,7,0.0,1685,2999,322,295,424,1794,953,237,0,54.0,16.0,70
156,135700,Photo,2,9,2,11,0.0,3756,7094,469,408,613,4935,2556,365,16,117.0,30.0,163
157,135700,Photo,3,9,2,2,0.0,2656,4862,390,309,445,3273,1722,309,1,115.0,21.0,137
158,135700,Photo,2,9,1,10,0.0,5086,9493,622,509,757,6200,3298,489,30,187.0,35.0,252
159,135617,Photo,2,9,1,3,1.0,2055,3915,346,288,412,2970,1507,277,1,84.0,13.0,98
160,135617,Photo,3,9,7,9,0.0,9384,14948,757,452,652,11148,7020,604,6,363.0,40.0,409
161,135617,Photo,2,9,7,3,0.0,3992,7255,598,447,688,4428,2420,435,6,244.0,32.0,282
162,135617,Photo,3,9,6,10,0.0,7512,13633,769,614,951,5503,3260,530,22,290.0,98.0,410
163,135617,Status,2,9,6,4,0.0,11096,21080,1843,1724,2106,16095,8120,1604,4,243.0,41.0,288
164,135428,Photo,1,9,5,10,0.0,1060,2004,266,251,337,1705,870,204,0,18.0,NaN,18
165,135428,Photo,2,9,5,3,1.0,2790,4879,435,360,513,3501,1999,351,0,113.0,19.0,132
166,135428,Photo,1,9,4,10,1.0,13856,37716,519,450,672,26832,9064,389,2,77.0,5.0,84
167,135428,Photo,3,9,4,2,1.0,10748,19724,892,498,719,13674,7624,704,8,485.0,64.0,557
168,135428,Photo,1,9,3,10,0.0,41984,68290,3370,2420,4074,34802,20928,2126,144,1622.0,208.0,1974
169,135428,Photo,2,9,3,2,1.0,2522,4583,455,390,547,3031,1674,333,6,99.0,16.0,121
170,135195,Photo,3,9,2,9,0.0,4480,8039,572,430,599,5014,2704,416,3,188.0,26.0,217
171,135195,Photo,1,9,2,2,0.0,1543,2874,360,334,463,2373,1228,267,2,30.0,6.0,38
172,135195,Status,2,9,1,10,0.0,21256,41906,4840,4754,5906,35455,17592,4318,38,163.0,27.0,228
173,135195,Photo,1,9,1,4,0.0,4484,7829,545,424,629,4208,2412,382,6,179.0,40.0,225
174,135195,Photo,2,9,7,3,0.0,4398,8105,584,446,669,4799,2616,431,5,204.0,34.0,243
175,135195,Status,2,9,6,10,1.0,13216,24738,2675,2584,2969,19599,10232,2342,2,165.0,22.0,189
176,135195,Photo,3,9,6,3,1.0,22304,37159,1805,984,1618,22864,13304,1349,29,1047.0,98.0,1174
177,135195,Photo,1,9,5,11,0.0,6208,10830,644,473,678,6866,4016,495,2,234.0,40.0,276
178,135195,Photo,2,9,5,2,0.0,4518,8533,626,482,729,4215,2254,439,7,250.0,42.0,299
179,135195,Photo,2,9,4,10,0.0,3582,6518,537,430,597,3857,2124,404,4,154.0,36.0,194
180,134879,Status,2,9,4,4,1.0,9124,17776,1476,1397,1797,13887,7092,1331,20,150.0,29.0,199
181,134879,Photo,1,9,3,10,0.0,14152,38806,631,549,836,19409,6632,404,4,102.0,8.0,114
182,134879,Photo,3,9,3,2,1.0,4260,7989,588,435,622,4578,2432,436,1,226.0,44.0,271
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
184,134879,Photo,2,9,2,3,0.0,2363,4223,393,348,476,3332,1788,297,11,68.0,11.0,90
185,134879,Photo,1,9,1,10,0.0,2232,4005,374,335,458,3247,1740,278,0,62.0,10.0,72
186,134879,Photo,2,9,1,6,0.0,4048,7217,544,405,602,4046,2280,368,5,223.0,35.0,263
187,134879,Photo,2,9,7,10,0.0,1804,2968,330,280,352,2293,1354,234,0,61.0,6.0,67
188,134879,Photo,3,9,7,4,1.0,2351,4028,371,298,392,3112,1791,288,1,104.0,12.0,117
189,133679,Photo,2,9,2,10,0.0,3100,5388,518,422,609,3927,2274,367,3,146.0,15.0,164
190,133679,Photo,3,9,2,3,1.0,2360,4004,436,365,486,2757,1603,300,2,102.0,15.0,119

In [36]:
# Step 4: Calculate the average number of likes
average_likes = september_data['like'].mean()

In [44]:
print("The average number of likes for posts in September is:",average_likes)

The average number of likes for posts in September is: 230.94444444444446

### 4. Print the information about the posts which are links.

In [47]:
f[f['Type']== 'Link']

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
22,138414,Link,1,12,7,10,0.0,3454,6853,118,104,130,6282,3100,106,0,16.0,2.0,18
41,138895,Link,1,12,6,3,1.0,18480,28438,517,366,460,12078,6752,319,6,187.0,18.0,211
43,138353,Link,1,12,5,3,1.0,2645,4270,134,109,170,2330,1377,101,7,29.0,10.0,46
45,138353,Link,1,12,4,3,1.0,7968,13023,206,158,223,6734,3492,138,4,57.0,10.0,71
47,138353,Link,1,12,3,2,0.0,1925,3481,97,83,126,2307,1180,77,6,18.0,8.0,32
49,138353,Link,1,12,2,2,0.0,1536,3094,84,76,99,2903,1407,76,1,12.0,1.0,14
86,137177,Link,1,11,4,3,0.0,21176,54779,330,228,329,13858,5248,185,2,130.0,31.0,163
136,136393,Link,1,10,5,10,0.0,4664,9463,204,182,251,7196,3324,173,0,32.0,16.0,48
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
149,135713,Link,1,10,6,11,1.0,3616,6887,111,90,118,4263,2138,93,0,24.0,11.0,35
344,117764,Link,1,5,1,2,0.0,12540,19301,344,322,396,16914,11008,289,3,46.0,14.0,63
372,113028,Link,1,4,5,7,1.0,35360,45260,339,325,477,9105,5472,156,7,38.0,11.0,56
403,107907,Link,1,4,2,6,0.0,70912,94172,1374,1106,1267,42338,27232,788,1,379.0,40.0,420
408,106928,Link,1,4,6,4,0.0,34192,42092,338,322,389,22907,16464,230,1,36.0,7.0,44
425,102112,Link,3,3,1,3,0.0,6876,10885,282,245,337,9403,5752,259,2,68.0,15.0,85
430,100732,Link,1,3,7,14,0.0,2933,5144,24,23,26,3972,2012,19,0,6.0,0.0,6
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
470,91437,Link,1,2,3,13,0.0,9356,14986,448,381,505,13919,8460,392,4,114.0,13.0,131
477,86909,Link,1,1,6,4,0.0,39600,7927,572,496,581,12522,8176,167,1,101.0,5.0,107
481,86491,Link,1,1,4,4,1.0,4938,7910,66,63,70,6625,3804,59,0,5.0,2.0,7
485,86491,Link,1,1,2,2,0.0,5168,8371,66,59,71,7041,3996,58,0,12.0,2.0,14
492,85979,Link,1,1,5,11,0.0,45920,5808,753,655,763,15766,10720,220,0,128.0,9.0,137

### 5. How many total shares are present for the video posts?

In [51]:
videopost =f[f['Type']== 'Video']
videopost

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
29,138895,Video,1,12,4,11,1.0,36208,61262,1141,1068,1728,30131,14112,559,18,143.0,13.0,174
55,138329,Video,1,11,6,2,1.0,16416,31950,459,411,539,21436,9568,363,2,65.0,14.0,81
71,137893,Video,1,11,5,3,1.0,100768,220447,2101,1735,2331,59658,18880,885,17,449.0,84.0,550
74,137893,Video,1,11,3,11,0.0,13544,30235,517,458,667,26622,11760,447,2,99.0,13.0,114
183,134879,Video,1,9,2,10,0.0,30624,56950,2080,1956,3253,32033,15744,1376,6,345.0,121.0,472
243,130791,Video,1,7,3,11,1.0,21872,40413,3872,3822,7327,24667,12920,2218,18,315.0,76.0,409
277,126424,Video,1,6,2,13,0.0,139008,277100,1779,1643,2356,107502,38720,1008,23,204.0,44.0,271

In [55]:
tol= videopost['share'].sum()
print("total shares are present for the video posts:",tol)

total shares are present for the video posts: 365.0

#### 6. In which hour of the day maximum posts are posted?

In [58]:
gr =f.groupby('Post Hour')
gr.groups

{1: [154, 212, 258, 333], 2: [30, 47, 49, 55, 61, 73, 75, 76, 84, 135, 142, 157, 167, 169, 171, 178, 182, 202, 238, 295, 301, 305, 334, 335, 344, 346, 359, 367, 368, 390, 392, 446, 463, 485, 487, 489, 493, 495, 497], 3: [0, 2, 4, 6, 8, 13, 16, 18, 20, 23, 25, 27, 28, 32, 34, 36, 39, 41, 43, 45, 51, 53, 57, 59, 63, 65, 67, 69, 71, 78, 80, 82, 86, 88, 90, 92, 96, 98, 101, 109, 113, 126, 138, 140, 144, 146, 159, 161, 165, 174, 176, 184, 190, 194, 200, 204, 206, 208, 210, 214, 228, 240, 254, 262, 264, 266, 268, 272, 274, 279, 291, 293, 297, 303, 307, 309, 311, 313, 317, 324, 325, 352, 357, 361, 369, 371, 383, 386, 396, 398, 404, 406, 410, 412, 421, 425, 439, 454, 459, 465, ...], 4: [94, 103, 105, 107, 112, 148, 150, 152, 163, 173, 180, 188, 192, 216, 220, 222, 236, 276, 281, 283, 285, 299, 315, 329, 340, 402, 408, 419, 441, 461, 473, 477, 479, 481, 499], 5: [14, 125, 234, 244, 252, 270, 319, 322, 331, 373, 400, 444, 448], 6: [124, 134, 186, 224, 232, 242, 248, 250, 256, 337, 378, 403, 438, 450, 452, 457], 7: [123, 155, 218, 260, 290, 353, 362, 372, 375, 376, 385, 415, 484], 8: [111, 122, 133, 137, 196, 226, 246, 348, 355, 365, 388, 496], 9: [5, 7, 33, 38, 50, 52, 85, 91, 93, 100, 108, 120, 121, 131, 132, 160, 170, 198, 201, 269, 278, 300, 327, 350, 360, 395, 397, 407, 443, 456], 10: [1, 3, 9, 10, 11, 12, 15, 21, 22, 24, 31, 37, 42, 54, 58, 62, 64, 70, 77, 81, 83, 87, 95, 99, 102, 110, 118, 119, 136, 139, 141, 143, 145, 147, 153, 158, 162, 164, 166, 168, 172, 175, 179, 181, 183, 185, 187, 189, 191, 193, 195, 199, 203, 207, 209, 211, 215, 221, 223, 227, 235, 237, 267, 271, 312, 323, 338, 339, 405, 417, 418, 437, 440, 447, 476, 482, 488, 494], 11: [19, 26, 29, 35, 40, 44, 46, 48, 56, 60, 66, 68, 72, 74, 89, 97, 104, 106, 117, 130, 149, 151, 156, 177, 213, 233, 239, 241, 243, 249, 251, 263, 282, 286, 289, 292, 298, 320, 341, 342, 480, 490, 492, 498], 12: [17, 79, 115, 116, 129, 205, 217, 219, 247, 253, 255, 273, 280, 284, 288, 304, 314, 316, 328, 330, 332, 374, 420, 431, 451, 453, 468, 474, 486], 13: [114, 127, 128, 197, 229, 231, 245, 257, 259, 261, 265, 275, 277, 294, 302, 306, 308, 310, 318, 321, 343, 345, 347, 349, 351, 356, 364, 366, 377, 382, 384, 387, 389, 391, 394, 399, 401, 409, 411, 436, 442, 445, 449, 455, 458, 460, 462, 464, 466, 470, 472, 478], 14: [225, 296, 326, 336, 354, 358, 370, 379, 380, 393, 413, 414, 430], 15: [363, 416, 428, 429, 434, 435], 16: [475], 17: [427, 432, 433], 18: [423, 424, 426], 19: [422], 20: [381], 22: [287], 23: [230]}

In [65]:
posts_per_hour = f['Post Hour'].value_counts()
posts_per_hour

3     105
10     78
13     52
11     44
2      39
4      35
9      30
12     29
6      16
7      13
5      13
14     13
8      12
15      6
1       4
18      3
17      3
23      1
22      1
20      1
19      1
16      1
Name: Post Hour, dtype: int64

In [67]:
max_posts_hour = posts_per_hour.idxmax()
max_posts_count = posts_per_hour.max()
print("The hour of the day with the maximum posts is:", max_posts_hour, "with posts =", max_posts_count)

The hour of the day with the maximum posts is: 3 with posts = 105

### 7. In which day of October, maximum number of interactions are found?

In [73]:
Oct_data = f[f['Post Month']== 10]

In [74]:
Oct_data

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
95,137059,Photo,3,10,6,10,0.0,3090,5744,391,257,360,3521,1796,293,5,153.0,27.0,185
96,137059,Photo,1,10,6,3,0.0,1101,2548,324,287,2418,1284,704,220,3,51.0,11.0,65
97,137059,Photo,2,10,5,11,0.0,2819,5230,318,218,303,3128,1622,240,1,115.0,26.0,142
98,137020,Status,2,10,5,3,1.0,12468,24917,2143,1966,2576,15850,7636,1661,7,310.0,61.0,378
99,137020,Photo,1,10,4,10,0.0,12776,21893,785,539,881,13272,7800,575,12,328.0,90.0,430
100,137020,Photo,1,10,4,9,1.0,1357,2453,37,37,55,2154,1120,32,0,0.0,0.0,0
101,137020,Photo,2,10,4,3,0.0,68896,104952,2624,1326,1952,35707,19840,1354,26,1505.0,95.0,1626
102,137020,Photo,3,10,3,10,0.0,1711,3174,288,245,339,2226,1118,205,2,63.0,14.0,79
103,137020,Photo,1,10,3,4,0.0,1388,2544,224,219,931,2161,1214,172,0,13.0,4.0,17
104,137020,Photo,1,10,2,11,1.0,2645,5472,357,315,482,4485,2101,265,4,59.0,9.0,72
105,137020,Photo,1,10,2,4,0.0,70144,111745,3216,2628,4782,43671,20608,1542,42,955.0,139.0,1136
106,137020,Photo,3,10,1,11,0.0,3674,7221,452,330,487,3832,1890,328,9,181.0,32.0,222
107,136736,Status,2,10,1,4,0.0,9504,19556,1132,1032,1512,16018,7616,981,17,193.0,28.0,238
108,136736,Photo,3,10,7,9,0.0,2426,4469,320,237,325,3120,1684,248,7,125.0,16.0,148
109,136736,Status,2,10,7,3,0.0,13872,27468,2664,2570,3395,20198,10432,2252,4,217.0,50.0,271
110,136736,Photo,1,10,6,10,0.0,1673,3655,338,324,1619,2598,1469,268,2,28.0,4.0,34
111,136736,Photo,1,10,6,8,0.0,1261,2158,37,37,49,1911,1077,33,0,NaN,NaN,0
112,136736,Photo,2,10,6,4,0.0,2428,4510,311,238,323,2888,1560,236,4,117.0,18.0,139
113,136642,Photo,2,10,1,3,1.0,2227,4070,369,314,430,3227,1702,306,2,79.0,16.0,97
114,136642,Photo,1,10,7,13,0.0,1592,2749,370,356,414,2551,1454,327,0,15.0,2.0,17
115,136642,Photo,1,10,7,12,1.0,813,1568,323,319,387,1402,695,280,0,4.0,2.0,6
116,136642,Photo,1,10,7,12,0.0,32208,57472,1810,1490,2286,56149,31648,1724,1,431.0,26.0,458
117,136642,Photo,1,10,7,11,0.0,729,1374,303,298,331,1284,650,262,0,7.0,0.0,7
118,136642,Photo,1,10,7,10,0.0,834,1570,399,392,510,1390,704,351,0,7.0,2.0,9
119,136393,Photo,1,10,7,10,0.0,786,1573,263,257,318,1401,660,222,0,6.0,2.0,8
120,136393,Photo,1,10,7,9,0.0,584,1029,273,271,308,943,511,232,0,2.0,NaN,2
121,136393,Status,2,10,7,9,0.0,15816,30514,2733,2654,3289,23584,11912,2361,6,186.0,40.0,232
122,136393,Photo,1,10,7,8,0.0,619,1096,257,254,292,951,516,217,1,1.0,2.0,4
123,136393,Photo,1,10,7,7,0.0,617,1071,229,223,265,935,521,191,1,3.0,2.0,6
124,136393,Photo,1,10,7,6,0.0,677,1285,251,246,297,1210,615,211,0,7.0,NaN,7
125,136393,Photo,1,10,7,5,0.0,677,1240,236,228,264,1098,580,196,0,7.0,2.0,9
126,136393,Photo,3,10,7,3,0.0,3366,6647,474,345,495,3180,1674,385,3,198.0,41.0,242
127,136393,Photo,1,10,6,13,0.0,747,1443,226,220,287,1252,632,194,0,9.0,1.0,10
128,136393,Photo,1,10,6,13,0.0,645,1117,195,192,224,989,554,166,0,4.0,1.0,5
129,136393,Photo,1,10,6,12,0.0,754,1510,206,205,252,1430,690,175,0,3.0,0.0,3
130,136393,Photo,1,10,6,11,0.0,910,1673,207,201,247,1503,782,176,0,8.0,2.0,10
131,136393,Photo,1,10,6,9,0.0,3906,8239,868,863,2632,7736,3768,774,0,7.0,3.0,10
132,136393,Photo,1,10,6,9,0.0,659,1158,199,194,239,1041,576,169,1,7.0,2.0,10
133,136393,Photo,1,10,6,8,0.0,652,1331,214,206,249,1249,588,182,0,11.0,1.0,12
134,136393,Photo,1,10,6,6,0.0,861,1565,214,192,239,1351,717,180,2,28.0,4.0,34
135,136393,Photo,1,10,6,2,0.0,3690,7659,424,388,644,6951,3290,377,0,56.0,12.0,68
136,136393,Link,1,10,5,10,0.0,4664,9463,204,182,251,7196,3324,173,0,32.0,16.0,48
137,136013,Photo,1,10,5,8,0.0,1080,2427,210,189,249,2195,934,184,4,32.0,3.0,39
138,136013,Status,2,10,5,3,0.0,8896,17202,1480,1426,1932,13838,7020,1292,0,129.0,25.0,154
139,136013,Photo,1,10,4,10,1.0,4018,8617,428,374,616,6677,2992,351,4,77.0,19.0,100
140,136013,Link,1,10,4,3,0.0,68992,229733,1032,975,1345,17842,8032,635,15,143.0,44.0,202
141,136013,Status,3,10,3,10,0.0,13152,25666,2543,2438,3179,20547,10280,2278,2,227.0,36.0,265
142,136013,Status,2,10,3,2,1.0,31136,59964,6164,5934,9237,35977,18048,4376,60,859.0,90.0,1009
143,136013,Photo,3,10,2,10,1.0,16776,39549,714,440,720,11860,6200,590,10,377.0,60.0,447
144,136013,Photo,1,10,2,3,1.0,50736,140432,1462,1450,8308,46252,15552,1275,3,41.0,9.0,53
145,136013,Photo,1,10,1,10,1.0,5324,11040,528,483,861,8627,4054,448,6,76.0,14.0,96
146,136013,Photo,3,10,1,3,0.0,18120,44940,421,282,463,4401,2616,327,0,189.0,15.0,204
147,135713,Photo,3,10,7,10,0.0,2291,3960,303,243,325,3020,1723,253,0,80.0,14.0,94
148,135713,Status,2,10,7,4,0.0,10744,20691,1967,1877,2201,17502,8964,1834,3,148.0,28.0,179
149,135713,Link,1,10,6,11,1.0,3616,6887,111,90,118,4263,2138,93,0,24.0,11.0,35
150,135713,Photo,1,10,6,4,0.0,39984,112830,2105,1921,3932,70249,21328,1609,24,302.0,41.0,367
151,135713,Photo,2,10,5,11,0.0,4010,7444,477,370,534,4406,2362,354,2,166.0,32.0,200
152,135713,Photo,2,10,5,4,1.0,6564,12097,806,602,957,7682,4024,563,47,358.0,49.0,454
153,135713,Photo,1,10,4,10,0.0,8612,20151,813,727,1390,16890,7208,630,7,161.0,25.0,193
154,135713,Photo,2,10,4,1,0.0,5568,10282,746,545,867,5696,3162,537,13,319.0,55.0,387

In [86]:
daywisemaxinteraction = Oct_data.groupby('Post Weekday')['Total Interactions'].max()

In [87]:
noofmaxinteractions =daywisemaxinteraction.max()
dayofmaxinteractions =daywisemaxinteraction.idxmax();

In [90]:
print("maximum number of interactions=",noofmaxinteractions," are found on",dayofmaxinteractions, "weekday")

maximum number of interactions= 1626  are found on 4 weekday

#### 8. Print the information of the posts where likes are above 200 and shares are above 30.

In [94]:
post = f[(f['like']>200) & (f['share']>30)]

In [95]:
post

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
26,138458,Status,2,12,5,11,0.0,19552,34143,2806,2531,3420,17748,9824,1779,10,412.0,72.0,494
28,138895,Photo,2,12,5,3,0.0,9560,18264,973,559,885,9217,4748,621,36,523.0,63.0,622
38,138895,Status,2,12,7,9,0.0,17576,33058,5352,5202,6547,23135,11792,4104,11,227.0,31.0,269
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
464,92079,Photo,1,2,6,13,0.0,158208,453213,2482,2319,3412,81938,20608,1034,9,268.0,36.0,313
468,91651,Photo,1,2,4,12,0.0,15288,31467,1573,1401,2110,28247,13312,1052,5,264.0,36.0,305
476,86909,Photo,1,1,6,10,1.0,37088,10966,2728,2288,3183,66311,34352,2021,7,579.0,47.0,633
480,86909,Photo,2,1,4,11,0.0,11484,20696,1762,1635,2741,8774,5124,722,56,360.0,99.0,515
488,85979,Photo,3,1,7,10,0.0,9700,17442,1407,1271,2007,8872,4876,660,21,277.0,80.0,378

#### 9 . Which kind of posts are posted maximum number of times in November month?

In [115]:
Nov_data = f[f['Post Month']== 11]
postdata = Nov_data['Type'].value_counts()
print( postdata.idxmax(), "posts are posted maximum number of times in November month and count is ",postdata.max())

Photo posts are posted maximum number of times in November month and count is  38

#### 10. Find average and median of interactions for the paid (1) posts.

In [119]:
paid_posts = f[f['Paid'] == 1]
paid_posts

# Calculate the average of interactions for paid posts
average_interactions = paid_posts['Total Interactions'].mean()

# Calculate the median of interactions for paid posts
median_interactions = paid_posts['Total Interactions'].median()

print("average_interactions= ",average_interactions,"and median_interactions=",median_interactions)

average_interactions=  278.23021582733816 and median_interactions= 158.0